#highlight, 
#nonhighlight {
    background-color: white;
    color: black;
    padding: 2px;
    display: inline-block;
}

#highlight {
    background-color: black;
}

#title, 
#instructions, 
#paragraph-container, 
#poetry-container, 
#button-container {
    text-align: center;
}

#title {
    font-family: sans-serif;
}

#instructions {
    color: grey;
    font-family: sans-serif;
    font-style: italic;
    font-size: small;
    margin-bottom: 1vw;
}

textarea:focus, 
select:focus,
input[type="text"]:hover,
#paragraph-input {
    font-size: 16px;
}

#paragraph-input {
    font-family: sans-serif;
    resize: none;
    margin: 1vw 1vw;
}

#generate-button, 
#save-button {
    font-size: large;
}

#highlighted-paragraph {
    height: fit-content;
    margin: 1vw 10vw;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}

footer {
    font-size: smaller;
    text-align: center;
}
